
<h1 id="mainTitle">Get Inked</h1>
<a href="indexStatic.html">go to Javascript/Ajax</a>
<div class="image-container">
  <img
    id="mainImage"
    src="assets/images/eye-crying-tattoo-9866.png"
    alt="Image Description"
    height="100"
    width="150"
  />
  <!-- <img
    id="mainImage2"
    src="assets/images/eye-crying-tattoo-9866.png"
    alt="Image Description"
    height="45"
    width="75"
  /> -->

</div>
<button class="btn btn-success" type="button" (click)="setAddTattoo()">
  Create
</button>
<div *ngIf="newTattoo">
  <div *ngIf="!editTattoo">
    <form>
      <div>
        <input
          class="form-control"
          name="designName"
          type="text"
          [(ngModel)]="newTattoo.designName"
          placeholder="Name of Design"
        /><br /><br />
        <input
          class="form-control"
          name="imageUrl"
          type="text"
          [(ngModel)]="newTattoo.imageUrl"
          placeholder="ImageUrl"
        /><br /><br />
        <input
          class="form-control"
          name="artist"
          type="text"
          [(ngModel)]="newTattoo.artist"
          placeholder="Artist Name"
        /><br /><br />
        <input
          class="form-control"
          name="meaning"
          type="text"
          [(ngModel)]="newTattoo.meaning"
          placeholder="Meaning"
        /><br /><br />
        <input
          class="form-control"
          name="style"
          type="text"
          [(ngModel)]="newTattoo.style"
          placeholder="Style"
        /><br />
      </div>
    </form>
    <button
      class="btn btn-primary"
      type="button"
      (click)="addTattoo(newTattoo)"
    >
      Add Tattoo
    </button>
    <button class="btn btn-primary" type="button" (click)="newTattoo = null">
      Cancel
    </button>
  </div>
</div>
<div *ngIf="!editTattoo && !newTattoo">
  <select
    [(ngModel)]="selectedArtist"
    class="form-select"
    aria-label="Default select example"
  >
    <option *ngFor="let artist of artists" value="{{ artist }}">
      {{ artist }}
    </option>
  </select>
  <div id="verticalStripe">
    <div *ngFor="let tattoo of tattoos | artist : selectedArtist">
      <h3>Design Name: {{ tattoo.designName }}</h3>
      <img
        id="tattooImg"
        [src]="tattoo.imageUrl"
        [alt]="tattoo.designName"
        width="350"
        height="250"
      />
      <p>Artist: {{ tattoo.artist }}</p>
      <blockquote id="block">Meaning: {{ tattoo.meaning }}</blockquote>
      <p>Style: {{ tattoo.style }}</p>
      <button class="btn btn-danger" (click)="deleteTattoo(tattoo.id)">
        X
      </button>
      <button class="btn btn-warning" (click)="setEditTattoo(tattoo)">
        Edit
      </button>
      <hr />
    </div>
  </div>
</div>
<form *ngIf="editTattoo">
  <div class="form-gruop">
    <label for="designName">Design name</label>
    <input
      class="form-control"
      [(ngModel)]="editTattoo.designName"
      type="text"
      name="designName"
    /><br />
    <label for="meaning">Meaning</label>
    <input
      class="form-control"
      [(ngModel)]="editTattoo.meaning"
      type="text"
      name="meaning"
    /><br />
    <label for="meaning">Style</label>
    <input
      class="form-control"
      [(ngModel)]="editTattoo.style"
      type="text"
      name="style"
    /><br />
    <label for="artist">Artist: </label>
    <input
      [(ngModel)]="editTattoo.artist"
      class="form-control"
      type="text"
      name="artist"
    /><br /><br />
    <label for="imageUrl">Image Url:</label>
    <input
      [(ngModel)]="editTattoo.imageUrl"
      class="form-control"
      type="text"
      name="imageUrl"
    /><br />
  </div>
  <button class="btn btn-primary" (click)="editTattoo = null">Cancel</button>
  <button class="btn btn-warning" (click)="updateTattoo(editTattoo)">
    Save
  </button>
</form>

